footer
{
    margin-top: 34px;
    .footer-main
    {
        background-color: #212121;
        .footer-head-inner
        { 
            padding-top: 100px;
            .logo
            {  
                img
                {   
                    display: block;
                    margin: 0 auto;
                }
            }
            .description
            {
                max-width: 715px;
                width: 100%;
                font-family: 'Poppins';
                font-weight: 300;
                font-size: 14px;
                line-height: 24px;
                color: #575757;
                text-align: center;
                margin: 0 auto;
                margin-top: 33px;
            }
            .icon-social
            {
                margin-top: 40px;
                .icon-inner
                {   
                    width: 209px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    
                }
            }
        }
        #l
        { 
            height: 1px;
            margin-top: 53px;
            background-color: #948989;
            opacity: 0.2;
        }
        .footer-end-inner
        {
            margin-top: 71px;
            .footer-item
            {
                
                width: 25%;
                p{
                    font-size: 18px;
                    font-family: 'Poppins';
                    font-weight: 500;
                    color: white;
                    text-transform: uppercase;
                    cursor: pointer;
                }
                ul
                {
                    padding-top: 26px;
                    .link-item
                    {
                        margin-bottom: 16px;
                        i{ 
                            color: #5e5e5e;
                            width: 12px;
                            margin-right: 15px;
                            font-size: 14px;
                            box-sizing: border-box;
                        }
                        a{
                            color: #5e5e5e;
                            font-size: 14px;
                            font-family: 'Poppins';
                            font-weight: 300;
                           
                            &:hover
                            {
                                color: burlywood;
                            }
                        }
                    }
                }
            }
        }

    }   
}
.copyright
{   
    height: 50px;
    background-color: #111111;
    p
    {
        font-size: 14px;
        font-family: 'Poppins';
        font-weight: 300;
        max-width: 490px;
        width: 100%;
        padding-top: 18px;
        margin: 0 auto;
        color: #5e5e5e;
        overflow: hidden;
    }
}